server:
  port: 8080

spring:

  #  data:
  #  redis:
#      host: localhost
#      port: 6379

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/tasks_db
    username: ${POSTGRES_USER:root}
    password: ${POSTGRES_PASSWORD:root}

  flyway:
    enabled: true
#    locations: classpath:db/migration
    baseline-on-migrate: true
#    default-schema: public
#    out-of-order: false
    url: jdbc:postgresql://localhost:5432/tasks_db
    user: root
    password: root

logging:
  file:
    name: logfile.log
  level:
    org:
      springframework:
        orm:
          jpa:
            INFO
          JpaTransactionManager:
            DEBUG
        transaction:
          INFO
        interceptor:
          TRACE